<p>
   <%= doctor.id%>
   <%= doctor.name %>
   <%= link_to 'Delete', [doctor.clinic, doctor], :confirm => 'Are you sure', :method => :delete%>
   <%= link_to 'Edit', edit_clinic_doctor_path(doctor.clinic, doctor)%>
</p>
